{% extends 'base.html' %}

{% load static %}

{% block title %}
О нас : {{ block.super }}
{% endblock %}


{% block content %}

<div class="card mr-9">
    <div class="card-body">
      <div class="media">
        О нас

Хостел VIARROOMS — относительно недорогой хостел премиум-класса, расположенный в 10-15 минутах ходьбы от метро Чарбах.
Гостям предлагаются различные категории номеров. В хостеле есть все необходимое для комфортного проживания: 
стиральная машина, полностью оборудованная кухня с варочной панелью, чайником, микроволновкой и холодильником. 

Список предметов общего пользования:
Кухня:
    плита
    холодильник
    чайник
    микроволновка
    посуда
    столовые приборы
Комнаты:
    кровати
    постельное белье
    полотенца
    стол
    стул
    индивидуальный санузел и душ

      </div>
    </div>
  </div>   



{% endblock %}